html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}
body{
    background-color: rgb(0, 0, 0);
    margin:0;
    height:auto;
}
nav{

    position:fixed;
    bottom:1vh;
    
  
    width: 100%;
  
    display: flex;
    
    justify-content: center;
    align-items: center;
   
   
    background-color: rgba(255, 255, 255, 0);

}
nav ul{
    background-color: rgb(101, 97, 96);
    width: auto;
    border-radius:3vw;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
   padding: 0 3VH 0 3VH;
   
        
}

nav ul li{
    height: auto;
    padding: 0 1vw;
    /* margin: 0 1VH ; */
    text-decoration: none;
    list-style: none;
   
 }

 nav ul li a span.icon{
    transform: translateY(10%);
    color: aliceblue;
    /* position: relative; */
    display: flex;
   
    padding:  1VH 0 1vh 0;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: 0.5s;
   
}
nav ul li.active a span.icon{
    transform: translateY(-15%);
  /* position: relative; */
  
    color: rgb(255, 255, 255);
    text-shadow:0 0 0.8rem #ffffff, 0 0  2rem #efef8c;
}
nav ul li a span.text{
   /* position: absolute; */
   /* Transform: translateY(-20%); */
   background-color: rgba(133, 199, 211, 0) ;
   /* top:-1.4rem; */
    /* padding: 0.5 2VW 0.5VW 2VW; */
   font-size: 1.4rem;
   font-weight: bold;
   letter-spacing: 0.1rem;
   color: rgba(255, 255, 255, 0.829);
  /* width: 7.6rem;
  border-radius: 0.5rem; */
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.6s;
   opacity: 1; 
   width: 5.5rem;
   
}
nav ul li.active a span.text{
    transform: translateY(-20%);
    /* position: relative; */
    
    /* top: -2rem; */
    background-color: rgba(255, 255, 255, 0) ;
    text-shadow:0 0 0.1rem #ffffff;
    opacity: 1;
        color: rgb(255, 255, 255);
}   
  ul span.empty-box{
    position:fixed;
    bottom: vh;
   left:-6vh ;
    width: 8vh;
    height: 8vh;
    background:  rgb(226, 100, 50);
    border-radius: 50%  ;
    opacity:1 ;
    transform: translateY(-3rem);
   
}
/* .indicator::before{
    content: '';
    position: absolute;
    top:-1.29rem ;
    left: 34vw;
    height: 2.4rem;
    width: 2.4rem;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 50%;
    z-index: 1;
    box-shadow: 1.6em 1.2rem rgb(101, 97, 96);

     

}
.indicator::after{
    content: '';
    position: absolute;
    top:-1.68rem ;
    left: 42vw;
    height: 2.4rem;
    width: 2.4rem;
    background-color: rgba(255, 59, 59, 0);
    border-radius: 50%;
    z-index: 1;
    box-shadow: -1.6em 01.2rem rgb(101, 97, 96);
     

} --*/
/* nav-animation */
.navigation ul li:nth-child(1).active ~.indicator{
    transform:translateX(calc(4.2rem * 0));
}

.navigation ul li:nth-child(2).active ~.indicator{
    transform:translateX(calc(4.2rem * 1));
}

.navigation ul li:nth-child(3).active ~.indicator{
    transform:translateX(calc(4.2rem * 2));
}
.navigation ul li:nth-child(4).active ~.indicator{
    transform:translateX(calc(4.2rem * 3));
}



.content{
    

    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 27rem;
}
.container{
    display: flex;
    padding: 0; margin: 0;
}


 a{
    text-decoration: none;
   
   
}
section > div{
    height: 120vh;
    width: 100vw;
    display: grid;
    place-content: center;
    font-size: 2em;
    color: white;
    
    font-weight: 800;

}
section > div:nth-child(1) {
background-color: rgb(0, 0, 0);
}

section > div:nth-child(2) {
background-color: rgb(165, 165, 165);
}

section > div:nth-child(3) {
background-color: rgb(46, 40, 33);
}

section > div:nth-child(4) {
background-color: rgba(2, 1, 3, 0.633);
}

section > div:nth-child(5) {
    background-color: rgb(63, 62, 141); 
}
/* -------------------------game --------------------------------*/
#PLAYER_TEXT{
    
    font-family: "permanent marker",cursive;
    font-size: 3rem;
    margin-top: 5vh;
    text-shadow:    0 0 0.1rem #fff,
    0 0 0.3rem #fff,
   
    0 0 0.4rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 1rem #bc13fe;
   
}

.box{
    height:12vh;
    width: 12vh;
    /* border:2px solid; */
   font-size: 8vh;
   text-align: center;
    cursor: pointer;
    /* line-height: 38vh; */
 
  
}
#box{
    
    display: grid;
    grid-template-columns: repeat(3, auto);   
    padding: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -40vh;
 
    
}

#container{
    font-family: "permanent marker",cursive;
    text-align: center;
    height: 100vh;
    
}

button{
    height: 3rem;
    width: 10rem;
    font-size: 2rem;
    margin:12rem;
    border-radius: 5rem;
    border: none;
    font-family: "permanent marker",cursive;
    color: #fff;
    display: flex;
    margin-top: -30vh;
    align-items: center;
    justify-content: center;
    text-align: center;

    text-shadow:  0 0 0.1rem #a534f0,
    0 0 0.3rem #b122f9;
    background-color:#46105f95;
    box-shadow:  0 0 0.1rem #fff,
    0 0 0.3rem #fff,
   
    0 0 0.4rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 1rem #bc13fe;
   ;
   
}
button:hover{
    background-color:#89549ff1; 
    cursor: pointer;
}


img{
   height: 40vh;
   
  
    
}

@media screen and (max-width:560px) {
    #container{
        width: fit-content;
    }
    button:hover{
        background-color:#46105f95;  
    }
}

@media screen and (max-width: 1000px) {
    nav{
        bottom: 0vh;
    }
    nav ul{
        width: 100%;
        border-radius: 0%;
    }
    nav ul li a span.text{
        font-size: 1rem;
    }
    }
    
@media screen and (max-width: 360px) {
    nav ul li a span.icon{
        font-size: 1.4rem;
        padding: 0.1rem;
    }
    nav ul li a span.text{
        font-size: 1rem;
        width: 4rem;
    }
    }
